<?xml version="1.0"?>
<launch>
  <!-->SETTINGS AND PARAMETERS<-->
  <rosparam command="load" file="src/gantry_control/launch/settings_gantry.yaml" />
  <rosparam command="load" file="settings.yaml" />


  <!--OBJECT RETURN-->
  <include file="$(find return_control)/launch/object_return_all.launch" />



  <!-->CAMERA STUFF<-->
  <group>
    <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="1920" />
      <param name="image_height" value="1080" />
      <rosparam command="load" file="settings_cam0.yaml" />
    </node>

    <node name="cam_server_top" pkg="video_recorder" type="recorder_server.py"   output="screen">
      <rosparam command="load" file="settings_cam0.yaml" />
    </node>
    
    <node name="image_view_raw" pkg="image_view" type="image_view" respawn="false" required="true">
          <remap from="image" to="/usb_cam0/image_raw"/>
          <param name="autosize" value="false" />
    </node>

    <arg name="video_topic" default="/video_recorder/image_raw" />
    <node name="image_view_grid" pkg="image_view" type="image_view" respawn="false" required="true">
        <remap from="image" to="$(arg video_topic)"/>
        <param name="autosize" value="false" />
    </node>
</group>



  <!-->MOTION AND ACTUATION CONTROL<-->
  <include file="$(find gantry_control)/launch/gantry_control_all.launch" />



  <!-->DATA MANAGER NODES<-->
  <include file="$(find data_manager)/launch/manage_data.launch" />
  <include file="$(find record_ros)/launch/record_ros.launch" />

</launch>
